/* defaults */

:root{
    --red: #ff6464;
    --lightgrey: #CCD6F6;
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

/* base */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: 1px red solid;
}

body{
    background: linear-gradient(364deg, #13315c 30%, #42286f 100%);
    color: white;
    font-family: 'Outifit', sans-serif;
    overflow-x: hidden;
}


.background{
    position: absolute;
    z-index: -1;
}


/* left links section */

.section{
    position: fixed;
    width: 150px;
    bottom: 0;
}

.logo ul{
}


#logos{
    color: var(--lightgrey);
    font-size: 2em;
    transition: var(--transition);
}

#logos:hover{
    color: #ff6464;
    font-size: 2.3em;
    transform: translateX(-3px);
}


.line{
    position: fixed;
    left: 40px;
    bottom: 0px;
    width: 2px;
    height: 100px;
    background-color: var(--lightgrey);
    border-radius: 10px;
}

/* Navigation bar */
.nav-left h1{
    color: white;
    text-decoration: none;
}

.nav{
    width: 100%;
    position: fixed;
    display: flex;
    z-index: 5;
    height: 10vh;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.nav-left{
    margin-right: 10px;
    padding: 50px;
    width: 25%;
    overflow: hidden;
}

.nav-left img{
    width: 150px;
    position: absolute;
    filter: drop-shadow(2px 4px 6px black);
    color: var(--red);
    left: 0;
    top: 0;
}

.nav-right{
    position: sticky;
    width: 75%;
    margin-top: 40px;
}

.nav-right ul{
    display: flex;
    gap: 45px;
    position: absolute;
    right: 2em;
    margin-right: 15px;
}

.nav-right li{
    list-style: none;
}


.nav-right a{
    text-decoration: none;
    color: var(--lightgrey);
    font-size: 15px;
    font-family: 'Roboto Mono', sans-serif;
    transition: 2s;
}

.nav-right a:hover{
    color: var(--red);
}

button{
    padding: 10px;
    color: var(--red);
    transform: translateY(-10px);
    background-color: transparent;
    border: 1.5px solid var(--red);
    transition: 100ms;
    border-radius: 5px;
}

button:hover{
    box-shadow: 5px 5px 0 0 var(--red);
    transition: 100ms ease-in-out;
}


/* Ladning page */
.main{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    left: 20%;
    height: 100vh;
    width: 100%;
}

.main h3{
    color: var(--red);
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
    margin: 5px;
}

.main h1{
    font-size: clamp(40px, 8vw, 80px);
    color: var(--lightgrey);
    margin: 5px;
}

.main h2{
    color: var(--lightgrey);
    font-size: 50px;
    margin: 5px;
}

.main p{
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--lightgrey);
    font-family: 'Roboto Mono', sans-serif;
}

.main button{
    margin-top: 30px;
    width: 200px;
    height: 55px;
}

.home{
    display: flex;
}

.home img{
  mask: url(#mask0) no-repeat
    center;
    max-width: 100%;
    display: block;
    aspect-ratio: 1;
    object-fit: cover;
    width: 300px;
    position: absolute;
    right: 180px;
    top: 300px;
    clip-path: circle(30.3% at 49% 46%);
    transition: 1s ease;
}

.home img:hover{
    clip-path: circle(63.7% at 49% 46%);
    border-radius: 25%;
    transform: translate(-10px,-10px);
    transition: 1s ease;
}

.box{
    width: 300px;
    height: 280px;
    background-color: var(--red);
    position: absolute;
    right: 180px;
    top: 300px;
    border-radius: 25%;
}

/* about section */
.about{
    display: flex;
    flex-direction: column;
    padding-top: 300px;
}

.about p{
    max-width: 800px;
    font-family: 'Roboto Mono', sans-serif;
    position: absolute;
    left: 10em;
    margin-top: 50px;
    color: var(--lightgrey);
}

.intro{
    display: flex;
    gap: 10px;
    position: relative;
    left: 150px;
}

.intro h3{
    color: var(--red);
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
    margin: 5px;
}

/* experiences section */

.experience{
    height: 100vh;
    width: 100%;
    transition: 2s;
}

/* work section */

.work{
    height: 100vh;
    width: 100%;
    transition: 2s;
}

/* contact section */

.contact{
    height: 100vh;
    width: 100%;
    transition: 2s;
}




/* reusables */

.hor-line{
    height: 1px;
    background-color: var(--red);
    width: 400px;
    transform: translateY(17px);
}
    

@media only screen and (max-width: 600px){
    .section{
        display: none;
    }

    .body{
        overflow-x: hidden;
    }

    .nav-right{
        display: none;
    }
}