*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-wrap: normal;
}

body{
    background: linear-gradient(87.5deg, #13315c 30%, #42286f 100%);
    color: white;
    font-family: 'Outifit', sans-serif;
}

.background{
    position: absolute;
    z-index: -1;
}

.nav-left h1{
    color: white;
    text-decoration: none;
}

.nav{
    position: fixed;
    display: flex;
    z-index: 5;
    width: 100%;
    height: 10vh;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.nav-left{
    margin-right: 10px;
    padding: 50px;
    width: 25%;
}

.nav-right{
    position: sticky;
    width: 75%;
    margin-top: 40px;
}

.nav-right ul{
    display: flex;
    gap: 45px;
    position: absolute;
    right: 2em;
    margin-right: 15px;
}

.nav-right li{
    list-style: none;
}


.nav-right a{
    text-decoration: none;
    color: #CCD6F6;
    font-size: 15px;
    font-family: 'Roboto Mono', sans-serif;
    transition: 2s;
}

.nav-right a:hover{
    color: #ff6464;
}

button{
    padding: 10px;
    color: #ff6464;
    transform: translateY(-10px);
    background-color: transparent;
    border: 1.5px solid #ff6464;
    transition: 100ms;
    border-radius: 5px;
    transition: 100ms;
}

button:hover{
    box-shadow: 5px 5px 0 0 #ff6464;
    transition: 100ms ease-in-out;
}

.section{
    display: flex;

}

.line{
    position: fixed;
    left: 40px;
    bottom: 0px;
    width: 2px;
    height: 100px;
    background-color: #CCD6F6;
    border-radius: 10px;
}



.main{
    position: relative;
    left: 150px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    height: 100vh;
}

.main h3{
    color: #ff6464;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
    margin: 5px;
}

.main h1{
    font-size: clamp(40px, 8vw, 80px);
    color: #CCD6F6;
    margin: 5px;
}

.main h2{
    color: #ccd6f6ae;
    font-size: 50px;
    margin: 5px;
}

.main p{
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #CCD6F6;
    font-family: 'Roboto Mono', sans-serif;
}

.main button{
    margin-top: 30px;
    width: 200px;
    height: 55px;
}




.about{
    height: 100vh;
    width: 100%;
    transition: 2s;
}

.experience{
    height: 100vh;
    width: 100%;
    transition: 2s;
}

.work{
    height: 100vh;
    width: 100%;
    transition: 2s;
}

.contact{
    height: 100vh;
    width: 100%;
    transition: 2s;
}

.about{
    display: flex;
    align-items: center;
}

.intro{
    display: flex;
    gap: 10px;
    position: relative;
    left: 150px;
}

.intro h3{
    color: #ff6464;
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
    margin: 5px;
}

.hor-line{
    height: 1px;
    background-color: #ff6464;
    width: 400px;
    transform: translateY(17px);
}
    





.container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-mask-image: url(#mask);
    mask-image: url(#mask);
  }

.section img{
    position: absolute;
    width: 200px;
    right: 20%;
    bottom: 40%;
    border-radius: 30px;
    filter: grayscale(50);
    transition: 1s linear;
}

.section img:hover{
    transform: translate(-2px,-2px);
    transition: 100ms linear;
    filter: none;
    
}

